* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.nav-list { 
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    text-decoration: none;
    /* color: #336DFF; */
}

.abrir-menu,
.cerrar-menu {
    display: none;
    
}

@media screen and (max-width: 800px) {
    .abrir-menu,
    .cerrar-menu {
        display: block;
        border: 0;
        transform: scale(2);
        background-color: transparent;
        cursor: pointer;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column ;
        align-items: end;
        bottom: 0;
        position: absolute;
        top: 0;
        right: 0;
        gap: 1rem;
        text-transform: uppercase;
        background-color: #336DFF;
        justify-content: space-between;
        padding: 2rem;
        height: 100vh;
        box-shadow: 0 0 0 100vmax rgba(51, 109, 255, 0.5);
        border-radius: 15px;
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .nav-list {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    .nav-list li a{
        color: #fff;
    }
}